<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="networld" translate="label" sortOrder="10">
            <label>Net World Sports</label>
        </tab>
        <section id="networld_debug" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Networld Debug</label>
            <tab>networld</tab>
            <resource>Networld_Debug::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Debug Hints</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to Yes to wrap block output with debug hints.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
